* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.color {
  color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 51%);
  color: hsl(212, 23%, 69%);
  color: hsl(210, 46%, 95%);
}

img {
  width: 100%;
}

#page-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

#card-wrapper {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  max-width: 337px;
  max-height: 533px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#image-container {
  width: 100%;
  height: 42%;
  overflow: hidden;
}

#card-content-container {
  height: 58%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#card-text-wrapper {
  width: 80%;
  margin-top: 2em;
}

#main-text {
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.07rem;
  /* font-size: 4.5vw; */
  font-size: 1rem;
  color: hsl(217, 19%, 35%);
}

#desc {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  /* font-size: 3.5vw; */
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

#profile-section {
  width: 85%;
}

#profile-img-wrapper {
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

#profile-desc {
  float: left;
  margin-left: 1.09rem;
}

#profile-name {
  font-weight: 700;
  font-size: 0.8rem;
  color: hsl(217, 19%, 35%);
}

#card-bottom-section {
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-since {
  color: hsl(214, 17%, 51%);
  font-size: 0.8rem;
}

#share-btn {
  padding: 7px;
  width: 30px;
  height: 30px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  float: right;
  position: relative;
  z-index: 10;
}

#share-btn img {
  transform: translateY(-3px);
}

#share-section {
  position: absolute;
  width: 0;
  /* width: 100%; */
  height: 100%;
  background: hsl(217, 19%, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

#social-media-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
  position: relative;
  opacity: 0;
  transition: all 0.5s;
}

#share-label {
  text-transform: uppercase;
  position: absolute;
  color: hsl(210, 46%, 95%);
  font-weight: 100;
  right: 100%;
  letter-spacing: 5px;
  font-size: 0.9rem;
  opacity: 0.7;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#desktop-share-section{
  display: none;
}

@media only screen and (min-width: 720px) {
  #card-wrapper {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: row;
    min-width: 720px;
    overflow: visible;
  }

  #image-container {
    width: 40%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #image-container img{
    width: 125%;
  }

  #card-content-container {
    width: 60%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #main-text{
    font-size: 1.25rem;
  }

  #desc{
    font-size: 0.87rem;
  }

  #share-section{
    display: none;
    justify-content: unset;
    /* width: 0; */
    width: 240px;
    /* height: 50px; */
    height: 0;
    right: 0;
    bottom: 100%;
    border-radius: 10px;
    transform: translateX(30%);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  #share-section::after{
    content: ' ';
    position: absolute;
    transform: rotate(45deg);
    bottom: -9px;
    left: 47%;
    width: 20px;
    height: 20px;
    background-color: hsl(217, 19%, 35%);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  #social-media-btns{
    /* opacity: 1; */
    transform: translateX(73%);
  }

  #share-label{
    font-size: 0.7rem;
  }
  #share-btn{
    cursor: pointer;
  }
  #share-btn:hover{
    transition: background 0.3s;
    background: hsl(217, 19%, 35%);
  }
}
